<div class="carousel-section">
  <app-carousel 
    #carousel
    width="80%" 
    height="300px" 
    [direction]="direction" 
    [slideBy]="3"
    [interval]="3000"
    >
    
    <carousel-Item *ngFor="let item of itemsList; let i = index;">
      <div class="app-carousel-item">
        <img #caroualItemImage [src]="item.imagePath" alt="carousel-sample-item">
        <h1 style="text-align: center;">{{i + 1}}</h1>
      </div>
    </carousel-Item>

    <button carouselBtn navigation="previous" class="carousel-btn prev">
      <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></svg>
    </button>
    <button carouselBtn navigation="next" class="carousel-btn next">
      <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
    </button>
  </app-carousel>
</div>